 
.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(119, 182, 228);
    border-radius: 4px 4px 0 0;
    height: 60px;
    z-index: 300;
    width: 100%;
    box-shadow: 0px 2px 2px #2b2b2b6e;
  }
  
  .leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
  }
  .exit{
    width: 15px;
    height: 15px;
  }
  .rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 3%;
  }
  .onlineIcon {
    margin-right: 5%;
  }
  @media only screen and (max-width: 480px) {
   .infoBar{
     border-radius: 0px;
   }

  }