.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(97, 97, 97, 0.253);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    height: 60%;
    width: 35%;
  }
  
  @media only screen and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100% !important;
      height: 100%;
    }
  }
  
  @media only screen  and (max-width: 600px) {
    .container {
      width: 80%;
    }
  }